apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-b
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-b
  template:
    metadata:
      labels:
        app: service-b
      annotations:
        argocd-image-updater.argoproj.io/image-list: "shradha91103/service-b"
    spec:
      containers:
        - name: service-b
          image: shradha91103/service-b:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5001

