apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
      annotations:
        # useful if later you want to enable argocd-image-updater
        argocd-image-updater.argoproj.io/image-list: "shradha91103/service-a"
    spec:
      containers:
        - name: service-a
          image: shradha91103/service-a:5d8c885
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80

